<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="ADDRESS" value="121.140.146.176, 2476"/>
		<add key="S_UID" value="sa"/>
		<add key="S_PWD" value="aodlfwjdqh2476!"/>
		<add key="DATABASE" value="MIT_TEST"/>
		<add key="TIMEOUT" value="0"/>
		<add key="S_ID" value=""/>
		<add key="S_PW" value=""/>
	</appSettings>
</configuration>